html{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Verdana, Arial, sans-serif;
}
html, body{
    color: #EDB92E;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: #181818;
    height: 100%;
    overflow: hidden;
}
#canvas{
    height: 100%;
}
.info-bar{
    font-size: 0.8em;
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.30);
    text-align: right;
}

.info-bar span{
    margin-right: 20px;
}

.score-message, .pile-completed-score-message{
    position: absolute;
}

.bold-text{
    font-weight: bold;
    font-size: 1em;
}

.splash{
    position: absolute;
    height: 100%;
    width: 100%;
}

.splash div{
    text-align: center;
    font-size: 4em;
    margin-top: 30%;
}

@media (min-width: 700px) {
    .splash div {
        margin-top: 10%;
    }
}

.splash img{
    display: block;
    margin: 15px auto;
}

#alertify{
    color: #181818;
}

.alertify-message{
    font-size: 0.8em;
}

.alertify-dialog{
    background-color: #edb92e;
}

#alertify .alertify-button-ok, #alertify .alertify-button-ok:hover, #alertify .alertify-button-ok:focus{
    background-color: #ed5a2e;
    border: #ed5a2e;
}

#alertify .alertify-button-cancel, #alertify .alertify-button-cancel:hover, #alertify .alertify-button-cancel:focus{
    background-color: #4f6f80;
    border: #4f6f80;
}