html{
    font-family: Verdana, Arial, sans-serif;
}
html, body{
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    background-color: #111;
    height: 100%;
    overflow: hidden;
}
#canvas{
    background-color:#111;
    height: 100%;
}
.info-bar{
    position: absolute;
    height: 20px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.30);
    color: #fff;
    text-align: right;
}

.info-bar span{
    margin-right: 20px;
}

.praise-message{
    position: absolute;
}

.splash{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #111;
    z-index: 100;
}

.splash div{
    text-align: center;
    color: lime;
    font-size: 4em;
    margin-top: 30%;
}

.splash img{
    margin-top: 15px;
    margin-left: 15px;
}